<!DOCTYPE html>
<html>
    <head>
        <title>ログアウト完了画面</title>
        <style>
            .app{
                width: 30em;
                padding: 0 1em 1em 1em;
                margin-left: auto;
                margin-right: auto;
                border: 1px solid;
                background-color: bisque;
            }
        </style>

    </head>
    <body>
<h1>ログアウトしました</h1>
       <div class="app">
            <h2>ログアウトしたことの確認</h2>
            <p>ログアウトしたので再びログインしないとさっきの画面には戻れません。</p>
            <p><a href="login_success">さっきの画面に戻る</a>（ログインしていないので失敗します）</p>
            <p><a href="login_gamen">ログイン画面へ戻る</a></p>
        </div>
    </body>
</html>